.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.home_button {
  padding: 1rem 4rem;
  color: white;
  border-radius: 2rem;
  background: rgb(21, 95, 255);
  box-shadow: 0 1rem 4rem rgb(48, 113, 255);
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.4s;
}

.home_button:hover {
  transform: scale(1.15);
}

.title {
  font-size: clamp(2rem, 5vw, 3rem);
}

.subtitle {
  font-size: clamp(1.5rem, 1vw, 3rem);
}